# ---------------------------
# Namespace
# ---------------------------
apiVersion: v1
kind: Namespace
metadata:
  name: petclinic

---
# ---------------------------
# Vets Service
# ---------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vets
  namespace: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vets
  template:
    metadata:
      labels:
        app: vets
    spec:
      containers:
        - name: vets
          image: areger55/harness-se-lab-dockerhub-repo:vets-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8083
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 30
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: vets
  namespace: petclinic
spec:
  type: ClusterIP
  selector:
    app: vets
  ports:
    - port: 8083
      targetPort: 8083
